@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto/roboto-black-font.eot');
    src: url('../fonts/roboto/roboto-black-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-black-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-black-font.woff') format('woff'),
         url('../fonts/roboto/roboto-black-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto/roboto-blackitalic-font.eot');
    src: url('../fonts/roboto/roboto-blackitalic-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-blackitalic-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-blackitalic-font.woff') format('woff'),
         url('../fonts/roboto/roboto-blackitalic-font.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-bold-font.eot');
    src: url('../fonts/roboto/roboto-bold-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-bold-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold-font.woff') format('woff'),
         url('../fonts/roboto/roboto-bold-font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-bolditalic-font.eot');
    src: url('../fonts/roboto/roboto-bolditalic-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-bolditalic-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bolditalic-font.woff') format('woff'),
         url('../fonts/roboto/roboto-bolditalic-font.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-italic-font.eot');
    src: url('../fonts/roboto/roboto-italic-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-italic-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-italic-font.woff') format('woff'),
         url('../fonts/roboto/roboto-italic-font.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-font.eot');
    src: url('../fonts/roboto/roboto-light-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-light-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-font.woff') format('woff'),
         url('../fonts/roboto/roboto-light-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-lightitalic-font.eot');
    src: url('../fonts/roboto/roboto-lightitalic-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-lightitalic-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-lightitalic-font.woff') format('woff'),
         url('../fonts/roboto/roboto-lightitalic-font.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-font.eot');
    src: url('../fonts/roboto/roboto-medium-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-medium-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium-font.woff') format('woff'),
         url('../fonts/roboto/roboto-medium-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-mediumitalic-font.eot');
    src: url('../fonts/roboto/roboto-mediumitalic-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-mediumitalic-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-mediumitalic-font.woff') format('woff'),
         url('../fonts/roboto/roboto-mediumitalic-font.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-font.eot');
    src: url('../fonts/roboto/roboto-regular-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-regular-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-font.woff') format('woff'),
         url('../fonts/roboto/roboto-regular-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thin-font.eot');
    src: url('../fonts/roboto/roboto-thin-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-thin-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thin-font.woff') format('woff'),
         url('../fonts/roboto/roboto-thin-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thinitalic-font.eot');
    src: url('../fonts/roboto/roboto-thinitalic-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-thinitalic-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thinitalic-font.woff') format('woff'),
         url('../fonts/roboto/roboto-thinitalic-font.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-bold-font.eot');
    src: url('../fonts/montserrat/montserrat-bold-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-bold-font.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-bold-font.woff') format('woff'),
         url('../fonts/montserrat/montserrat-bold-font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/fontsmontserrat-regular-font.eot');
    src: url('../fonts/montserrat/montserrat-regular-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-regular-font.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular-font.woff') format('woff'),
         url('../fonts/montserrat/montserrat-regular-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
