@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-font.eot');
    src: url('../fonts/roboto/roboto-light-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-light-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-font.woff') format('woff'),
         url('../fonts/roboto/roboto-light-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thin-font.eot');
    src: url('../fonts/roboto/roboto-thin-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-thin-font.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thin-font.woff') format('woff'),
         url('../fonts/roboto/roboto-thin-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-bold-font.eot');
    src: url('../fonts/montserrat/montserrat-bold-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-bold-font.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-bold-font.woff') format('woff'),
         url('../fonts/montserrat/montserrat-bold-font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/fontsmontserrat-regular-font.eot');
    src: url('../fonts/montserrat/montserrat-regular-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-regular-font.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular-font.woff') format('woff'),
         url('../fonts/montserrat/montserrat-regular-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
